option_settings:
  "aws:elasticbeanstalk:container:python":
    WSGIPath: run:app
packages:
  yum:
    gcc: []
    python-devel: []
    mysql-devel: []
container_commands:
  01_pip_upgrade:
    command: "pip install --upgrade pip"
  02_install_requirements:
    command: "pip install -r /opt/python/current/app/requirements.txt"
